@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Realizamos café da manhã constantemente e sempre há conflito.</p>
    <p>Sempre há pessoas que querem trazer pão, bolo, suco...</p>
    <p><i>Nesse desafio é necessário que seja montando uma aplicação web </i></p>
    <p>A aplicação deverá ter o nome do colaborador, cpf e o que será trazido para o café da manha. </p>
    <p>Não poderá repetir cpf.</p>
    <p>Não poderá repetir opção de café da manhã </p>
    <a type="button" class="btn btn-outline-success" asp-area="" asp-controller="CadastroCafes" asp-action="Index">Cadastrar Café</a>   
</div>
